# include versionfile for information
inlude VisualCrossing/static/VERSION

# include readme file for initial documentation
# also include other necessary files (like CHANGELOG)
include *.md

# include licensing files
include LICENSE

# include requirements file
include requirements.txt

# include all from assets
include assets/*
