# the requirements.txt is generated with minimal packages requirements
# and basic/core python libraries like `requests` are removed from tracking

# guide link: https://pip.pypa.io/en/stable/user_guide/#requirements-files
# more information: https://stackoverflow.com/questions/7225900

numpy==1.26.4
pandas==2.2.1
